/*
------------------------------------------------------- */
/* font
------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap&subset=japanese');
// @import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
/*
------------------------------------------------------- */
/* function
------------------------------------------------------- */
$main-color: #f25e86;

$sub-color-b: #33556D;
// $main-color-g: #228E41;
$main-color-g: #428253;
$sub-color-g: #1DA96F;
$accent-color: #f8914d;
$char-color: #333;
$base-color: #fff;


$color_list: #E2EFF9,
#78A6C6,
#E2EFF9;

.center {
    width: 100%;
    display: inline-block;
    text-align: center;
    justify-content: center;
    // margin: 0 auto;
}

.right {
    width: 100%;
    display: inline-block;
    text-align: right;
}

.left {
    width: 100%;
    display: inline-block;
    text-align: left;
}

.centering {
    margin: 0 auto;
    text-align: center;
    display: block;
    // border: 1px solid #000;
}

.centering-text {
    text-align: left;
    display: inline-block;
}

.w30 {
    width: 30%;
}

.w50 {
    width: 50%;
}

.w70 {
    width: 70%;
}

/* back-botton */
#page_top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 50px;

    z-index: 999;
}

#page_top a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    letter-spacing: .1rem;
    font-size: .9rem;
    text-align: center;
    color: #333;
}

#page_top a::before {
    background-image: url("..images/back.png") no-repeat;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

/* light pen*/
.mkr_lime {
    background: linear-gradient(transparent 60%, rgba(orange, .2) 60%);
}

.delayed-image {
    animation: delayed 3s ease 0s 1 normal;
}

@keyframes delayed {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}


@mixin fadein ($x:0px, $y:-50px) {
    opacity: 0;
    transform: translate($x, $y);
    transition: all 3s;
    display: block;

    &.scrollin {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.fadein {
    &-stop {
        @include fadein(0, 0);
    }

    &-top {
        @include fadein();
    }

    &-bottom {
        @include fadein(0, 20px);
    }

    &-left {
        @include fadein(-50px, 0px);
    }

    &-right {
        @include fadein(50px, 0);
    }
}

/* cross fade */

#slide {
    display: block;
    width: 640px;
    height: 480px;
    position: absolute;
    right: 50px;
    top: 0;
    // position:relative;
}

#slide img {
    position: absolute;
    display: block;
    margin-left: auto;
    right: 0;
    top: 0;
}



/*
------------------------------------------------------- */
/* Base structure
------------------------------------------------------- */

html {
    width: 100vw;
    margin: 0 auto;
    font-size: 625%;
}

html,
body {
    height: 100%;
    background-color: #fff;
    color: #333;
    font-size: 0.7rem;
    // background-image: url("../images/back.jpg");
    // background-position: cover;
    // background-repeat: repeat-y;
    letter-spacing: 1px;
    line-height: 2;
    font-family: 'Noto Sans', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // overflow: hidden;
    // margin: 0 auto;
}

main {
    background: #fff;
    flex: 1;
}

.container {
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 479px) {
    .container {
        width: 95%;
    }
}

.section {
    width: 100%;
    padding: 30px 0px;
}

small {
    font-size: .6rem;
    line-height: 3;
    letter-spacing: 2px;
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

strong {
    font-size: 1.1rem;
}

button {
    display: inline-block;
    width: 180px;
    // height:50px;
    text-align: center;
    background-color: #333;
    // font-size: 16px;
    line-height: 20px;
    color: #fff;
    margin: 30px auto;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #333;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

button:after {
    width: 100%;
    height: 0;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #FFF;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(15deg);
    transition: .2s;
    z-index: -1;
}

button:hover {
    color: #333;
}

button:hover:after {
    height: 240%;
    opacity: 1;
}

button:active:after {
    height: 340%;
    opacity: 1;
}

a {
    text-decoration: none;
    color: #333;
}


li {
    list-style: none;
}

h2 {
    position: relative;
    display: inline-block;
    font-family: 'Lora', serif;
    // font-family: 'Quicksand', sans-serif;
    margin-bottom: 1em;
    font-size: 1rem;
    margin-bottom: 60px;
    width: 100%;
    text-align: center;
}

h2:before {
    content: '';
    position: absolute;
    bottom: -10px;
    display: inline-block;
    width: 60px;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    // border-radius: 2px;
}

h3 {
    width: 100%;
    font-size: .9rem;
    background-color: #333;
    color: #fff;
    padding: 5px;
    margin-bottom: 30px;
}

footer {
    margin-top: auto;
    // height:30px;
}

/*
------------------------------------------------------- */
/* nav
------------------------------------------------------- */
nav {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(#fff, 0.8);
    z-index: 999;
    height: 50px;
    top: 0;
    position: fixed;
    // background-image: url('../images/lace_top.png');background-repeat: rpepeat-x;
    // background-position: top 160px;
}

.g-nav {
    margin: 0 50px;
    display: flex;
    justify-content: space-around;
    vertical-align: center;

}

.g-nav div {
    display: inline-block;
    padding-top: 10px;
    padding-right: 30px;
    vertical-align: center;
    text-align: center;
    margin-top: 10px;
    font-size: .8rem;
    // font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-family: 'Quicksand', sans-serif;
}

.g-nav div a {
    color: #333;
    text-decoration: none;
}

.g-nav>div:first-child {
    margin-right: auto;
}

.g-nav>div:last-child {
    padding-right: 0;
}

.g-nav-m {
    display: none;
}

.m-mode {
    display: none;
}

@media (max-width: 1000px) {

    .pc-mode {
        display: none;
    }

    .m-mode {
        display: block;
    }

    .g-nav-m {
        height: 50px;
        z-index: 99;
    }

    .cp_offcm01 {
        position: absolute;
        top: 0px;
        right: 20px;
        display: inline-block;
    }

    /* menu */
    .cp_offcm01 .cp_menu {
        position: fixed;
        top: 0;
        right: -100vw;
        width: 250px;
        height: 100%;
        cursor: pointer;
        transition: 0.53s transform;
        transition-timing-function: cubic-bezier(.38, .52, .23, .99);
        background-color: #fff;
        opacity: 0.8;
    }

    .cp_offcm01 .cp_menu ul {
        margin: 0;
        padding: 0;
    }

    .cp_offcm01 .cp_menu li {
        list-style: none;
    }

    .cp_offcm01 .cp_menu li a {
        display: block;
        padding: 20px;
        text-decoration: none;
        color: #333;
        border-bottom: 1px dotted #333;
    }

    .cp_offcm01 #cp_toggle01 {
        position: absolute;
        display: none;
        opacity: 0;
    }

    .cp_offcm01 #cp_toggle01:checked~.cp_menu {
        -webkit-transform: translateX(-100vw);
        transform: translateX(-100vw);
    }

    /* menu toggle */
    .cp_offcm01 #cp_toggle01~label {
        display: block;
        padding: 0.5em;
        cursor: pointer;
        transition: 0.5s transform;
        transition-timing-function: cubic-bezier(.61, -0.38, .37, 1.27);
        text-align: center;
        color: #333;
    }

    .cp_offcm01 #cp_toggle01:checked~label {
        transform: translateX(-250px);
    }

    .cp_offcm01 #cp_toggle01~label::before {
        font-family: 'FontAwesome';
        content: '\f0c9';
        font-size: 2em;
    }

    .cp_offcm01 #cp_toggle01:checked~label::before {
        content: '\f00d';
    }

    .m-contents {
        padding-top: 10px;
        text-align: center;
    }
}

.menu a:hover {
    display: block;
    height: 30px;
    background-image: url('../images/hover.png');
    ;
    background-position: top center;
    background-repeat: no-repeat;
    text-decoration: none;
    // background-size: cover;
    z-index: 100;
}

.menu-m a:hover {
    display: block;
    // height: 30px;
    background-image: url('../images/hover.png');
    ;
    background-position: 22px center;
    background-repeat: no-repeat;
    // background-size: cover;
    z-index: 100;
}


.hero {
    display: block;
    position: relative;
    width: 100%;
    height: 500px;
}


.title {
    position: absolute;
    left: 120px;
    top: 20%;
    padding: 12px;
    // text-shadow: white 1px 1px 2px;
    z-index: 99;
    background-color: rgba(#fff, 0.5);
    // background-color: #fff;
}

@media screen and (max-width: 479px) {

    #slide {
        left: 0;
        width: 470px;
    }

    .title {
        left: 0;
        top: 40%;
        width: 100%;
        background-color: none;
    }
}


.site {
    display: flex;
    // align-content: start;
    align-items: start;
}

.site__left {
    width: 30%;
    min-width: 350px;
}

.site__right {
    width: 70%;
}

.profile {
    display: flex;
    justify-content: space-between;
}

article {
    margin-bottom: 60px;
}

table {
    width: 100%;
    margin: 0 0 30px 30px;
}

table tr {
    border-bottom: 1px dotted #333;
}

table tr:last-child {
    border: none;
}

th,
td {
    vertical-align: top;
    padding: 10px 30px;
    // border-bottom: 1px dotted #333;
}

.prof-tbl {
    margin-left: 0;
}

.form-group input,
.form-group textarea {
    border-radius: 0;
}

.form-size {
    width: 500px;
}

.send {
    width: 250px;
}

@media screen and (max-width: 479px) {

    .site,
    .profile {
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        // 中央寄せ
        justify-content: center;
        align-items: center;
    }

    .site__left,
    .site__right {
        width: 100vw;
        margin: 0 auto;
    }

    .form-size {
        width: 100%;
    }

}


// button {
//     width: 150px;
//     margin: 0px auto;
//     background-color: #333;
//     color: #fff;
//     padding: 5px;
//     margin-bottom: 60px;
// }